button {
  padding: 10px 15px 10px 15px;
}
button:hover {
  background-color: black;
  color: white;
}
button:active {
  background-color: black;
}
tr:nth-child(odd) {
  background-color: gray;
}
th {
  background-color: black;
  color: white;
}
