* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1275px;
}

.font {
  font-family: 'DM Sans', sans-serif;
}

.font-background {
  background-color: rgb(255, 242, 231);
  border-radius: 4px;
}

.font-gray {
  color: rgb(213, 213, 213);
}

.font-linethrough {
  text-decoration: line-through;
}

.row {
  display: flex;
}

.column-one-fifth {
  flex-basis: 20%;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

img {
  object-fit: cover;
  width: 233px;
  height: 360px;
}

.vl {
  border-left: 1px solid rgb(213, 213, 213);
  height: 19px;
  margin: auto 5px;
}

.padding-left {
  padding: 0 0 0 10px;
}

.margin-top-bottom {
  margin: 18px 0;
}

.margin-detail {
  margin: 0 6px 0 0;
}

.font-size-subheader {
  font-size: 1.8rem;
}

.font-size-detail {
  font-size: 0.9rem;
  font-weight: 500;
}
